{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body background={{url_for('static', filename='background2.png')}}>
{% block page_content %}
    <br><br><br>
    <form action="happy" method="get"></form>
    <form action="end" method="get">
    <div class="step-content">
        <div class="step-pane active sample-pane step_wrap" data-step="1">
        <!-- 标题头介绍 -->
            <div>
                <h4 class="margin-lg-left">时间：{{date}}</h4>
                <h4 class="margin-lg-left">请为自己填写一个昵称：<input type="text" name="name"></h4>
            </div>
          </div>
      </div>
      <br><br>
      <div class="container fuelux">

          <div class="panel panel-default">
          <!-- Default panel contents -->
              <div class="panel-heading">快乐预测表</div>
              <!-- Table -->
              <table class="table table-bordered">

              <thead>
                  <tr>
                  <th>日期</th>
                  <th>活动类型（特指使你能够产生成就感或快乐的东西）</th>
                  <th>陪你完成活动的人（如果是独自一人，请写明“我自己”）</th>
                  <th>预计快乐程度（0%-100%）(活动开始前填写)</th>
                  <th>实际快乐程度（0%-100%）（活动结束后填写）</th>

                  </tr>
              </thead>
              <tbody>
                  <tr>
                    <td>例如：1999/4/18</td>
                    <td>做咨询项目</td>
                    <td>我自己</td>
                    <td>70%</td>
                    <td>80%</td>

                  </tr>
                  <tr>
                    <td><input type="text" name="end" placeholder="请填写..."></td>
                    <td><input type="text" name="end2" placeholder="请填写..."></td>
                    <td><input type="text" name="end3" placeholder="请填写..."></td>
                    <td><input type="text" name="end4" placeholder="请填写..."></td>
                    <td><input type="text" name="end5" placeholder="请填写..."></td>
                  </tr>
              </tbody>
              </table>
              </div>
          </div>
        <div class="row sel-group">
            <div class="col-md-12">
                <p class="text-left sel-title"><font size="4" face="arial">记录细小快乐事件</font></p>
            </div>
            <div class="col-md-10 col-md-offset-1">
                <textarea class="form-control" rows="5" name="happy_thing" style="margin-bottom: 6px;" placeholder="提示：想怎么写就怎么写~在这里就是让你随意"></textarea>
            </div>
        </div>
    </div>


    <div class="steps-container text-center">
        <input type="submit" align="center" name="submit" value="完成" class="btn btn-primary btn-next">
    </div>
    </form>


    </body>
    <script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/fuelux/fuelux.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>

</html>
{% endblock %}
